.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.exercises {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
}

/* make the exercises responsive */
@media (max-width: 1440px) {
  .exercises {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}
@media (max-width: 910px) {
  .exercises {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media (max-width: 600px) {
  .exercises {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}
