nav {
  background-color: white;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar a {
  color: var(--color-text);
  text-decoration: none;
}
